.u-section-1 .u-sheet-1 {
  min-height: 1042px;
}

.u-section-1 .u-group-1 {
  width: 383px;
  height: 383px;
  margin: 295px auto 0;
}

.u-section-1 .u-container-layout-1 {
  padding: 13px 0;
}

.u-section-1 .u-form-1 {
  height: 191px;
  width: 345px;
  margin: 51px auto 0;
}

.u-section-1 .u-btn-1 {
  background-image: none;
}

.u-section-1 .u-text-1 {
  margin: -10px auto 15px;
}

.u-section-1 .u-text-2 {
  font-weight: 700;
  margin: -422px auto 60px;
}

.u-section-1 .embed-responsive-1 {
  position: absolute;
  width: 178%;
  height: 178%;
  left: -39%;
  top: -39%;
}

@media (max-width: 1199px) {
  .u-section-1 .u-group-1 {
    height: auto;
  }

  .u-section-1 .embed-responsive-1 {
    width: 197%;
    height: 100%;
    left: -49%;
    top: 0%;
  }
}

@media (max-width: 991px) {
  .u-section-1 .embed-responsive-1 {
    width: 182%;
    left: -41%;
  }
}

@media (max-width: 767px) {
  .u-section-1 .embed-responsive-1 {
    width: 243%;
    left: -71%;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-group-1 {
    width: 340px;
  }

  .u-section-1 .u-form-1 {
    width: 340px;
  }

  .u-section-1 .u-text-2 {
    margin-top: -379px;
  }

  .u-section-1 .embed-responsive-1 {
    width: 386%;
    left: -143%;
  }
}