.u-section-1 .u-sheet-1 {
  min-height: 1042px;
}

.u-section-1 .u-group-1 {
  width: 558px;
  height: 558px;
  margin: 242px auto 0;
}

.u-section-1 .u-container-layout-1 {
  padding: 0;
}

.u-section-1 .u-form-1 {
  height: 415px;
  width: 345px;
  margin: 72px auto 0;
}

.u-section-1 .u-form-group-3 {
  margin-left: 0;
}

.u-section-1 .u-form-group-4 {
  margin-left: 0;
}

.u-section-1 .u-form-group-5 {
  margin-left: 0;
}

.u-section-1 .u-form-group-6 {
  margin-left: 0;
}

.u-section-1 .u-form-group-7 {
  margin-left: 0;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  display: inline-block;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  display: inline-block;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  display: inline-block;
}

.u-section-1 .u-text-1 {
  margin: 17px auto 0;
}

.u-section-1 .u-btn-4 {
  background-image: none;
  font-size: 1.125rem;
  padding: 0;
}

.u-section-1 .u-text-2 {
  font-weight: 700;
  margin: -597px auto 60px;
}

.u-section-1 .embed-responsive-1 {
  position: absolute;
  width: 178%;
  height: 178%;
  left: -39%;
  top: -39%;
}

@media (max-width: 1199px) {
  .u-section-1 .u-group-1 {
    height: auto;
  }

  .u-section-1 .u-form-group-3 {
    height: 251px;
    margin: 394px 247px 60px 349px;
  }

  .u-section-1 .u-form-group-4 {
    height: 191px;
    width: 345px;
    margin-top: 0;
    margin-bottom: 0;
    margin-right: 0;
  }

  .u-section-1 .u-form-group-5 {
    height: 191px;
    width: 345px;
    margin-top: 0;
    margin-bottom: 0;
    margin-right: 0;
  }

  .u-section-1 .u-form-group-6 {
    height: 191px;
    width: 345px;
    margin-top: 0;
    margin-bottom: 0;
    margin-right: 0;
  }

  .u-section-1 .u-form-group-7 {
    height: 191px;
    width: 345px;
    margin-top: 0;
    margin-bottom: 0;
    margin-right: 0;
  }

  .u-section-1 .embed-responsive-1 {
    width: 197%;
    height: 100%;
    left: -49%;
    top: 0%;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-form-group-3 {
    margin-right: 137px;
    margin-left: 239px;
  }

  .u-section-1 .embed-responsive-1 {
    width: 182%;
    left: -41%;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-group-1 {
    width: 540px;
  }

  .u-section-1 .u-form-group-3 {
    margin-right: 47px;
    margin-left: 149px;
  }

  .u-section-1 .u-text-2 {
    margin-top: -579px;
  }

  .u-section-1 .embed-responsive-1 {
    width: 243%;
    left: -71%;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-group-1 {
    width: 340px;
  }

  .u-section-1 .u-form-1 {
    width: 340px;
  }

  .u-section-1 .u-form-group-3 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-form-group-4 {
    width: 340px;
  }

  .u-section-1 .u-form-group-5 {
    width: 340px;
  }

  .u-section-1 .u-form-group-6 {
    width: 340px;
  }

  .u-section-1 .u-form-group-7 {
    width: 340px;
  }

  .u-section-1 .u-text-2 {
    margin-top: -379px;
  }

  .u-section-1 .embed-responsive-1 {
    width: 386%;
    left: -143%;
  }
}